<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Successfully Edited Program!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- custom stylesheet -->
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <nav class="navbar">
      <ul class="navlist">
        <p class="title">
          Edited program
          </p>
          <li><a href="/public/allprograms">View all programs</a></li>
          <li><a href="/allprofile">View all profiles</a></li>
          <li><a href="/allSuggestedEdits">View User Suggested Edits</a></li>
          <li><a href="/allSpotlighted">View Spotlighted Program</a></li>

      </ul>
    </nav>
  
    <div class="container">
        <div class="row h-100">
          <div class="col-lg-4"><!-- this is just here to center the next column --></div>

          <div class="col-lg-4 text-center my-auto">
                <p>
                    Successfully edited <b><%= name %></b> !
                </p>
                <p>
                  Website link is now <b><%= link %></b> !
              </p>
                <p>
                  Program category is now <b><%= category %></b> !
              </p>
              <p>
                  Program location is now <b><%= location %></b> !
              </p>
                <p>
                  Program documented status is now <b><%= documentedStatus %></b> !
              </p>
                <p>
                  Application deadline is now <b><%= deadline %></b> !
              </p>
                <p>
                  Applicable Year is now <b><%= applicableYear %></b> !
              </p>
                <p>
                  Program start date is now <b><%= programDates %></b> !
              </p>
                <p>
                  GPA Requirement is now <b><%= gpaReq %></b> !
              </p>
                <p>
                  Alumni contacts are now <b><%= alumniEmail %></b> !
              </p>
              <p>
                    <a href="/all">See all programs</a>                    
                </p>
                <p>
                    <a href="/public/programform.html">Create a new program</a>                    
                </p>
          </div>

          <div class="col-lg-4"><!-- this is just here to center the previous column --></div>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>


